body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(136, 9, 9);
}

main{
  flex: 1;
}

.TituloPrincipal {
  color: rgb(136, 9, 9);
  font-size: 12px;
  margin: 10px auto;
  width: 60%;
  padding: 5px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  border-top: 1px solid rgb(136, 9, 9);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.BtnVoltar{
  background-color: rgba(136,9,9);
  color: white;
  margin: 5px;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.BtnVoltar:hover{
  background-color: rgb(168, 8, 8);
}

.TabelaTurma tr:hover{
  background-color: #f9f9f9;
}

.TabelaTurma{
  width: 60%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  border-collapse: collapse;
}

.TabelaTurma th, .TabelaTurma td{
  width: 3%;
  padding: 10px;
  font-size: 14px;
  text-align: left;
  border: 1px solid rgb(136, 9, 9);
}

.TabelaTurma th{
  background-color: rgb(136, 9, 9);
  color: white;
}

footer{
  background-color: rgb(136, 9, 9);
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 15px;
}
